{% extends 'elements_commun/base.html' %}  
{% block service %}
{% include "elements_commun/header.html" %}
{% load static %}

<section class="breadcrumb blog_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Nos services</h2>
                        <p>Home<span class="ti-angle-double-right"></span>Nos services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/admin1.jpg'%}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>01</h3>
                            <p>Serv</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="#">
                            <h2>- Administration des Biens</h2>
                            </a>
                            <p>Gestion des baux, suivi des locataires, etats de lieux.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> GRED, Immobilier</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/loyer.jpg'%}" alt="">
                            <a href="#" class="blog_item_date">
                            <h3>02</h3>
                            <p>Serv</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Collecte et suivi des loyers</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it
                            first without heaven in place seed it second morning saying.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> GRED, Immobilier</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/single_blog_3.png'%}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>03</h3>
                                <p>Serv</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Entretien et réparation </h2>
                            </a>
                            <p>Nous offrons egalement un service d'entretien et réparation en collaboration avec 
                                les artisans qualifiés</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> GRED, immobilier</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/fiscale.jpg'%}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>04</h3>
                                <p>Serv</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Gestion fiscale</h2>
                            </a>
                            <p>Déclaration et paiement des impots sur revenus locatifs.<br> 
                                -Mise en location et évaluation des loyers pour optimiser la rentabilité des biens.<br>
                                -Rédaction de contrats sécurisés pour protéger les intérêts  des propriétaires et locataires.
                            </p>
                            
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> GRED, Immobilier</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/fiscale.jpg'%}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>05</h3>
                                <p>Serv</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="#">
                                <h2>siya juwa</h2>
                                </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it
                            first without heaven in place seed it second morning saying.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> GRED,Immobilier</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                            <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</section>

{% include "elements_commun/footer.html" %}
{% endblock service %}


